body{
    background-image: url('https://pics.pof.com/dating/1138/21/82/3bcb303a4-fb14-4361-9b0d-735097536502.jpg');
    height:50%;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey

}

.container{
    width:60%;
    height:40%;
   position: relative;
   border: 1px solid rgb(255, 251, 3);
   margin: 300px;
   padding:40px;
  
    
    



}

.intro{
    color:rgb(0, 235, 243);
    text-shadow:2px 3px gray;
    position: relative;
    top:;
    left:
}